.navBar {
    margin: 0 auto;
    width: 500px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 80px;
}

.navLink a {
    padding: 10 20px;
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navLink a:hover {
    text-decoration: underline;
}